<form [formGroup]="offerForm" (ngSubmit)="sendOffer()">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Redacta tu oferta</h3>
            <button type="button" class="btn-close" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')"></button>
        </div>

        <div class="modal-body">
            <div class="container">
                <div class="col-lg-12 mb-3">
                    <div class="col-lg-12 text-center">
                        <img class="float-end mx-auto" src="../../../assets/icons/collaboration.svg"
                            alt="collaboration.svg" width="50">
                        <h4 class="mb-4">Escribe tu propuesta y empieza a colaborar con esta empresa.</h4>
                    </div>

                    <label for="descriptionPublication" class="form-label">Mensaje</label>
                    <textarea pInputTextarea class="form-control" formControlName="mensaje"
                        id="descriptionPublication"></textarea>
                    <div *ngIf="messageControl?.invalid && (messageControl?.dirty || messageControl?.touched)"
                        class="text-danger">
                        <small *ngIf="messageControl?.errors?.['required']">El mensaje es obligatorio.</small>
                        <small *ngIf="messageControl?.errors?.['maxlength']">El mensaje no puede exceder los
                            {{maxMessageCharacters}} caracteres.</small>
                    </div>
                    <div class="float-end" *ngIf="remainingMessageCharacters >= 0">
                        <small class="text-success">{{ remainingMessageCharacters }} caracteres
                            restantes</small>
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <label for="maximumPrice" class="form-label d-block">Precio de oferta</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">$</span>
                        <p-inputNumber inputId="maximumPrice" mode="decimal" locale="es-CH" currency="CLP"
                            formControlName="precioOferta">
                        </p-inputNumber>
                    </div>
                    <span *ngIf="invalidFormFile('precioOferta')" class="form-text d-block text-danger">
                        El precio es obligatorio.
                    </span>
                </div>
                <!-- Subir archivos -->
                <div class="col-lg-12 mb-3">
                    <div class="my-3 col-md-12">
                        <label for="files[]" class="mb-2 ">Adjuntar archivos (máximo 2 archivos, máximo 15
                            MB total)</label>
                        <p-fileUpload mode="advanced" name="files[]" [showCancelButton]="false"
                            [showUploadButton]="false" (onSelect)="onUpload($event)" [multiple]="true"
                            accept=".jpg,.jpeg,.png,.pdf,.zip" [maxFileSize]="15000000" [fileLimit]="2">
                        </p-fileUpload>
                    </div>
                </div>
            </div>

            <!-- DEBUG -->
            <!-- <div class="container">
                <pre><b>offerForm.value: </b>{{offerForm.value | json}}</pre>
                <pre><b>offerForm.errors: </b>{{offerForm.errors | json}}</pre>
            </div> -->
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
            <button data-bs-dismiss="modal" type="submit" class="btn btn-primary"
                [disabled]="offerForm.invalid || isOpLoading" (click)="sendOffer()">
                <ng-container *ngIf="!isOpLoading">Enviar</ng-container>
                <ng-container *ngIf="isOpLoading">
                    Enviando...
                    <div class="spinner-border spinner-border-sm text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </ng-container>
            </button>
        </div>
    </div>
</form>