<div class="container mx-auto">
    <div class="justify-content-center">
        <div class="row">
            <app-search-publication></app-search-publication>
        </div>
    
        <div class="row">
            <div class="col-md-4 col-xs-12 m-0">
                <user-filter-publication></user-filter-publication>
            </div>
    
            <div class="col-md-8 col-sm-12 m-0">
                <div class="row mx-3">
                    <app-post-card-pyme></app-post-card-pyme>
                </div>
            </div>
        </div>
    </div>
</div>