<div class="container mx-auto">
    <div class="justify-content-center">
        <div class="row">
            <app-search-publication (formSubmitted)="onFormFilter0Submitted($event)">
            </app-search-publication>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12 m-0">
                <user-filter-publication (formSubmitted)="onFormFilter1Submitted($event)">
                </user-filter-publication>
            </div>

            <div class="col-md-8 col-sm-12 m-0">
                <div class="row my-1">
                    <div class="col-lg-12">
                        <button ngbTooltip="Limpiar búsqueda" (click)="clearFilters()"
                            class="btn btn-sm btn-primary float-end">
                            <img src="../../../../assets/icons/magic.svg" alt="magic.svg">
                        </button>
                    </div>
                </div>
                <div class="row mx-2">
                    <app-post-card-pyme [filters]="filters"
                        (clearFiltersEvent)="handleClearFiltersEvent()"></app-post-card-pyme>
                </div>
            </div>
        </div>
    </div>
</div>