# dependencies
node_modules

# compiled output
dist

# environment files
.env

# system files
.DS_Store 
Thumbs.db
.vscode

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/config
