<div class="justify-content-center">

    <div class="container">
        <div class="mt-4 d-flex align-items-center justify-content-center">
            <img src="../../../assets/icons/person-bounding-box.svg" alt="pen.svg" width="55">
            <h2 class="fs-1 mb-2 mx-3"><strong>Perfil personal</strong></h2>
        </div>

        <hr>
        <div class="container">
            <div *ngIf="!user; else userProfile " class="col-lg-12 mt-5 text-center">
                <div class="spinner-border text-primary my-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <ng-template #userProfile>
                <form>
                    <!-- Información del propietario -->
                    <div class="row">
                        <h3 class="fs-2">Información del propietario</h3>

                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName"
                                        value="{{user.nombreUsuario}}" disabled>
                                </div>

                                <div class="col-md-6">
                                    <label for="lastName" class="form-label">Apellidos</label>
                                    <input type="text" class="form-control" id="lastName" value="{{user.apellidos}}"
                                        disabled>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <label for="myDNI" class="form-label">RUN (DNI)</label>
                                    <input type="text" class="form-control" id="myDNI" value="{{user.run}}" disabled>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" value="{{user.emailUsuario}}"
                                        disabled>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="text-center">
                                <div class="container">
                                    <ng-container *ngIf="user.imagen; else defaultImage">
                                        <img src="{{ user.imagen }}" class="imgProfile img-fluid" alt="camera.jpg"
                                            style="max-height: 130px;">
                                    </ng-container>
                                    <ng-template #defaultImage>
                                        <img src="../../../assets/icons/people-circle.svg" class="imgProfile img-fluid"
                                            alt="people-circle.svg" style="max-height: 130px;">
                                    </ng-template>
                                </div>
                                <div class="mt-2">
                                    <p-fileUpload mode="basic" name="demo[]" accept="image/*" [auto]="true"
                                        chooseLabel="Subir imágen"></p-fileUpload>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Localidad y direcciones del propietario -->
                    <div class="row">
                        <h3 class="fs-2">Localidad y direcciones del propietario</h3>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="country" class="form-label">Región</label>
                                <select class="form-select" id="country" disabled>
                                    <option>{{user.region}}</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label for="state" class="form-label">Comuna</label>
                                <select class="form-select" id="state" disabled>
                                    <option>{{user.comuna}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="address" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="address" value="{{user.dir1Propietario}}"
                                    disabled>
                            </div>

                            <div class="col-lg-12 mt-2">
                                <label for="address2" class="form-label">Dirección #2<span
                                        class="text-muted">(Opcional)</span></label>
                                <input type="text" class="form-control" id="address2" value="{{user.dir2Propietario}}"
                                    disabled>
                            </div>

                            <div class="col-lg-12 mt-2">
                                <label for="addresDescription" class="form-label">
                                    Descripción <span class="text-muted">(Opcional)</span>
                                </label>
                                <textarea class="form-control" disabled
                                    id="addresDescription">{{user.descripcion}}</textarea>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <!-- Información de la empresa -->
                    <div class="row">
                        <h3 class="fs-2">Información de la empresa</h3>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="nameCompany" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nameCompany"
                                    value="{{user.Pyme.nombrePyme}}" disabled>
                            </div>

                            <div class="col-md-6">
                                <label for="myRUT" class="form-label">RUT</label>
                                <input type="text" class="form-control" id="myRUT" value="{{user.Pyme.rut}}" disabled>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="typeCompany" class="form-label">Tipo de empresa</label>
                                <select class="form-select" id="typeCompany" disabled>
                                    <option>{{user.Pyme.tipoEmpresa}}</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="lineOfBusiness" class="form-label">Rubro</label>
                                <select class="form-select" id="lineOfBusiness" disabled>
                                    <option>{{user.Pyme.rubro}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Localidad y dirección de la empresa -->
                    <div class="row">
                        <h3 class="fs-2">Localidad y dirección de la empresa</h3>

                        <div class="row">
                            <div class="col-lg-12 form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" disabled>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Utilizar dirección
                                    personal</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label for="countryCompany" class="form-label">Región</label>
                                <select class="form-select" id="countryCompany" disabled>
                                    <option>{{user.Pyme.regionEmpresa}}</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label for="communeCompany" class="form-label">Comuna</label>
                                <select class="form-select" id="communeCompany" disabled>
                                    <option>{{user.Pyme.comunaEmpresa}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mt-2">
                                <label for="addressCompany" class="form-label">Dirección </label>
                                <input type="text" class="form-control" id="addressCompany"
                                    value="{{user.Pyme.dirEmpresa}}" disabled>
                            </div>

                            <div class="col-lg-12 mt-2">
                                <label for="addresDescriptionCompany" class="form-label">Descripción
                                    <span class="text-muted">(Opcional)</span>
                                </label>
                                <textarea class="form-control" id="addresDescriptionCompany"
                                    disabled>{{user.Pyme.descripcionEmpresa}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container">
                            <button class="btn btn-primary float-end my-3">
                                Editar información
                            </button>
                        </div>
                    </div>
                </form>
            </ng-template>
        </div>


    </div>
</div>