.photoProfile img{
    width:  300px;
    height: 300px;
    
}

.photoProfile{
    border: 1px solid black;
    border-radius: 100%;
    width:  300px;
    height: 300px;
    overflow: hidden;
}

.containerPhotoProfile{
    position: absolute;
    top: 0px;
    right: 0px;
    

}


p-fileUpload{
    text-align: center;
}