<div class="justify-content-center">

    <div class="container">
        <div class="mt-4 d-flex align-items-center justify-content-center">
            <img src="../../../assets/icons/person-bounding-box.svg" alt="pen.svg" width="55">
            <h2 class="fs-1 mb-2 mx-3"><strong>Perfil personal</strong></h2>
        </div>

        <hr>
        <div class="container">
            <form>
                <!-- Información del propietario -->
                <div class="row">
                    <h3 class="fs-2">Información del propietario</h3>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="firstName" value="Sebastián" disabled>
                            </div>

                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="lastName" value="Vidal Ramírez" disabled>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label for="myDNI" class="form-label">RUN (DNI)</label>
                                <input type="text" class="form-control" id="myDNI" value="12.345.678-9" disabled>
                            </div>

                            <div class="col-md-6">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" value="sebastian.vidal@correo.com"
                                    disabled>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="text-center">
                            <div class="container">
                                <img src="../../../assets/icons/people-circle.svg" class="imgProfile img-fluid"
                                    alt="camera.jpg" style="height: 130px;">
                            </div>
                            <div class="mt-2">
                                <p-fileUpload mode="basic" name="demo[]" accept="image/*" [auto]="true"
                                    chooseLabel="Subir imágen"></p-fileUpload>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Localidad y direcciones del propietario -->
                <div class="row">
                    <h3 class="fs-2">Localidad y direcciones del propietario</h3>

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="country" class="form-label">Región</label>
                            <select class="form-select" id="country" disabled>
                                <option value="">Valparaíso</option>
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="state" class="form-label">Comuna</label>
                            <select class="form-select" id="state" disabled>
                                <option value="">San Antonio</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 mt-2">
                            <label for="address" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="address" value="Avenida Chacabuco, #314"
                                disabled>
                        </div>

                        <div class="col-lg-12 mt-2">
                            <label for="address2" class="form-label">Dirección #2<span
                                    class="text-muted">(Opcional)</span></label>
                            <input type="text" class="form-control" id="address2" value="" disabled>
                        </div>

                        <div class="col-lg-12 mt-2">
                            <label for="addresDescription" class="form-label">
                                Descripción <span class="text-muted">(Opcional)</span>
                            </label>
                            <textarea class="form-control" disabled
                                id="addresDescription">Vivo cerca de la calle tipo punta de diamante</textarea>
                        </div>
                    </div>

                </div>

                <hr>

                <!-- Información de la empresa -->
                <div class="row">
                    <h3 class="fs-2">Información de la empresa</h3>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="nameCompany" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nameCompany" value="El Molino" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="myRUT" class="form-label">RUT</label>
                            <input type="text" class="form-control" id="myRUT" value="30.686.957-4" disabled>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label for="typeCompany" class="form-label">Tipo de empresa</label>
                            <select class="form-select" id="typeCompany" disabled>
                                <option>Empresa comercial</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="lineOfBusiness" class="form-label">Rubro</label>
                            <select class="form-select" id="lineOfBusiness" disabled>
                                <option>Panadería, Pastelería</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- Localidad y dirección de la empresa -->
                <div class="row">
                    <h3 class="fs-2">Localidad y dirección de la empresa</h3>

                    <div class="row">
                        <div class="col-lg-12 form-check form-switch my-3">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                disabled>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Utilizar dirección
                                personal</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="countryCompany" class="form-label">Región</label>
                            <select class="form-select" id="countryCompany" disabled>
                                <option>Valparaíso</option>
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label for="communeCompany" class="form-label">Comuna</label>
                            <select class="form-select" id="communeCompany" disabled>
                                <option>Valparaíso</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 mt-2">
                            <label for="addressCompany" class="form-label">Dirección </label>
                            <input type="text" class="form-control" id="addressCompany" value="Avenida Chacabuco, #314"
                                disabled>
                        </div>

                        <div class="col-lg-12 mt-2">
                            <label for="addresDescriptionCompany" class="form-label">Descripción <span
                                    class="text-muted">(Opcional)</span></label>
                            <textarea class="form-control" id="addresDescriptionCompany" disabled>
                                  </textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="container">
                        <button class="btn btn-primary float-end my-3">
                            Editar información
                        </button>
                    </div>
                </div>
            </form>
        </div>

        
    </div>
</div>