/* .dateHeader {
    display: inline;
}

.tableResume tbody tr td {
    border-bottom: 1px solid #c8c9ca;
}

.btnMoreInformation {
    position: relative;
    left: 70%;
} */



.icon-white {
    filter: invert(1);
}