<div class="container">
  <div class="row">

    <div class="col-12">
      <div *ngFor="let item of publicaciones; let i = index">

        <div class="p-0">
          <div class="card cardMain  shadow-sm rounded mb-2" style="width: 18rem;">

            <div class="card-header pt-2">
              <h6 class="dateHeader text-muted"> <strong class="">Id publicación:</strong> {{item.id}}</h6>
              <!--  [ngClass]="{'alert-primary' : item.ofertasRecibidas ==='Sé el primero en ofertar', 'alert-warning' : item.ofertasRecibidas.includes('ofertas recibidas')}" -->
              <h6 class="stateHeader float-end alert m-0 p-1" role="alert">{{item.cantidadOfertasRecibidas}}</h6>
            </div>

            <div class="card-body">
              <h5 class="card-title"><a href="#" class="card-link">{{item.titulo | uppercase}}</a></h5>
              <p class="card-text">{{item.descripcion | uppercase}}</p>

              <hr style="height: 3px;">

              <table class="tableResume table table-hover table-borderless">
                <tbody>
                  <tr>
                    <td colspan="2" class="start-*"><strong>Monto Disponible</strong></td>
                    <td class="text-end">{{item.precioTotal | currency : 'CLP'}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="start-*"><strong>Empresa</strong></td>
                    <td class="text-end">{{item.Usuario.Pyme.nombrePyme}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="start-*"><strong>Calificación</strong></td>
                    <!-- <td class="text-end">{{item.Usuario.Calificacions[i].promedio}}</td> -->
                  </tr>
                </tbody>
              </table>


            </div>

            <div class="card-footer containerMoreInformation">

              <button class="btn btn-primary text-center" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseExample' + i" aria-expanded="false" aria-controls="collapseExample">
                Más información
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
              </button>

              <div class="cardAccordion collapse mt-2" [attr.id]="'collapseExample' + i">
                <div class="card card-body col-12">
                  <h4 class="text-center my-2">Detalles de la publicación</h4>
                  <table class="tableResume table table-hover table-borderless">
                    <tbody>
                      <tr>
                        <td colspan="2" class="start-*"><strong>Fecha creación</strong></td>
                        <td class="text-end">{{item.createdAt | date : 'dd MMMM yyyy'}}</td>
                      </tr>
                      <tr *ngIf="item.fechaInicioServicio">
                        <td colspan="2" class="start-*"><strong>Fecha de inicio servicio</strong></td>
                        <td class="text-end">{{item.fechaInicioServicio | date : 'dd MMMM yyyy'}}</td>
                      </tr>
                      <tr *ngIf="item.fechaFinServicio">
                        <td colspan="2" class="start-*"><strong>Fecha de término servicio</strong></td>
                        <td class="text-end">{{item.fechaFinServicio | date : 'dd MMMM yyyy'}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="start-*"><strong>Garantía</strong></td>
                        <td class="text-end">{{item.garantia.toString() | i18nSelect:garantiaMapa}}</td>
                      </tr>
                      <tr *ngIf="item.aniosGarantia">
                        <td colspan="2" class="start-*"><strong>Años de garantía</strong></td>
                        <td class="text-end">{{item.aniosGarantia | number }}</td>
                      </tr>
                      <tr *ngIf="item.cantidadElementos">
                        <td colspan="2" class="start-*"><strong>Cantidad</strong></td>
                        <td class="text-end">{{item.cantidadElementos}}</td>
                      </tr>
                      <tr *ngIf="item.modelo">
                        <td colspan="2" class="start-*"><strong>Modelo</strong></td>
                        <td class="text-end">{{item.modelo}}</td>
                      </tr>
                      <tr *ngIf="item.color">
                        <td colspan="2" class="start-*"><strong>Color</strong></td>
                        <td class="text-end">{{item.color | titlecase}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="container p-0 text-center">
                    <div class="col-md-4 col-sm-12">
                      <h3 class="fs-6">Archivos adjuntos</h3>
                      <img class="d-block mx-auto" width="50" src="../../../../assets/icons/file-earmark-arrow-down.svg"
                        alt="ile-earmark-arrow-down.svg">
                      <button class="btn btn-secondary btn-sm my-2" type="button">Descargar</button>
                    </div>
                  </div>

                  <div *ngIf="isIdsIguales(item.UsuarioId)" class="container">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button class="btn btn-lg btn-success" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Ofertar
                      </button>
                    </div>

                    <!-- Modal para ofertar-->

                    <form [formGroup]="formularioOferta" (ngSubmit)="enviarOferta(item.id)">
                      <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <!-- <h5 class="modal-title" id="exampleModalLabel">Escribe una oferta</h5> -->
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                              <div class="container">

                                <!-- FORMULARIO PARA ENVIAR EL MANSAJE DE OFERTA -->
                                <div class="col-md-12">
                                  <h3 class="fs-5 mb-2">Escribe tu propuesta y empieza a colaborar con esta empresa.
                                  </h3>
                                  <label for="descriptionPublication" class="form-label mb-0">Mensaje</label>
                                  <textarea pInputTextarea class="form-control" formControlName="mensaje"
                                    id="descriptionPublication"></textarea>
                                  <span *ngIf="campoInvalido('mensaje')" class="form-text text-danger">
                                    El mensaje es obligatorio.
                                  </span>
                                </div>
                                <br>
                                <div class="col-md-12" style="width: 300px;">
                                  <label for="maximumPrice" class="form-label mb-0 d-block">Precio de oferta</label>
                                  <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">$</span>
                                    <p-inputNumber inputId="maximumPrice" mode="decimal" locale="es-CH" currency="CLP"
                                      formControlName="precioOferta"></p-inputNumber>
                                  </div>
                                  <span *ngIf="campoInvalido('precioOferta')" class="form-text d-block text-danger">
                                    El precio es obligatorio.
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar
                                oferta</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>


                </div>
              </div>
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- <div class="row">
    <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    <h5>Basic</h5>
    <p-paginator [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
  </div> -->
</div>