<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

  <div class="col-md-4 mx-4" style="text-align: right;">
    <span class="text-muted">© 2022 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-start list-unstyled d-flex mx-4">
    <li class="ms-3">
      <a class="text-muted" href="#">
        <img src="../../../../assets/icons/twitter.svg" alt="twitter">
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="#">
        <img src="../../../../assets/icons/facebook.svg" alt="facebook">
      </a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="#">
        <img src="../../../../assets/icons/insta.svg" alt="instagram">
      </a>
    </li>

  </ul>
</footer>