<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="container">

            <div class="col-md-12 g-5 pt-4 text-center mb-5">
                <img class="float-end mb-3" src="../../../../assets/icons/arrow-bar-right.svg" alt="arrow-bar-right.svg"
                    width="55">
                <h2 class="fs-1 mb-1"><strong>Ofertas Realizadas</strong></h2>
            </div>

            <div class="col-md-12">
                <div class="input-group mb-3">
                    <form [formGroup]="filterForm" class="input-group mb-3">
                        <select class="form-select customSelect text-center" id="searchOptionSelect"
                            formControlName="searchOption">
                            <option [value]="'fecha'">Fecha</option>
                            <option [value]="'mensaje'">Mensaje</option>
                        </select>

                        <input type="text" class="form-control" formControlName="searchTerm"
                            aria-label="Término de búsqueda" />
                        <button style="border-top-right-radius: .375rem; border-bottom-right-radius: .375rem;" class="input-group-text btn btn-primary" id="basic-addon2" (click)="sendForm()">
                            Buscar
                        </button>

                        <div class="container">
                            <div *ngIf="filterForm.get('searchTerm')?.touched && filterForm.get('searchTerm')?.hasError('required')"
                                class="text-danger">Este campo es requerido.</div>
                            <div *ngIf="filterForm.get('searchTerm')?.touched && filterForm.get('searchTerm')?.hasError('invalidDate')"
                                class="text-danger">La fecha debe ser tipo DD-MM-YYYY.</div>
                        </div>
                    </form>

                    <div class="row my-1">
                        <div class="col-lg-12">
                            <button ngbTooltip="Limpiar búsqueda" (click)="clearFilter()"
                                class="btn btn-sm btn-primary float-end">
                                <img src="../../../../assets/icons/magic.svg" alt="magic.svg">
                            </button>
                        </div>
                    </div>

                    <!-- Debug -->
                    <!-- <div class="container">
                        <pre><b>filterForm.value: </b>{{filterForm.value | json}}</pre>
                        <pre><b>filterForm.errors: </b>{{filterForm.errors | json}}</pre>
                    </div> -->
                </div>
            </div>

            <div class="col-md-12 mt-5 text-center" *ngIf="isLoading">
                <div class="spinner-border text-primary text-center my-3" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="col-md-12 text-center" *ngIf="isEmptyOffersReceived && !isLoading">
                <div class="container mt-5">
                    <img src="../../../../assets/icons/offer-icon.svg" alt="offer-icon.svg" class="icon-image">
                    <h3 *ngIf="!ofertas" class="my-3">No tienes ofertas realizadas aún.</h3>
                    <h3 *ngIf="ofertas" class="my-3">No se encontraron coincidencias.</h3>

                    <ng-container *ngIf="ofertas">
                        <div class="col-lg-12">
                            <button ngbTooltip="Ir atrás" (click)="clearFilter()"
                                class="btn btn-sm btn-primary text-center">
                                <img src="../../../../assets/icons/backspace.svg" alt="backspace.svg"
                                    class="icon-button-style">
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>

            <ng-container *ngIf="!isEmptyOffersReceived && !isLoading">
                <div class="container py-4" *ngFor="let oferta of ofertas">
                    <div class="card">
                        <div class="card-header">
                            <span class="text-muted float-end fst-italic" pTooltip="Fecha de creación">
                                {{oferta.createdAt | date : 'dd MMMM yyyy'}}
                            </span>
                            <h3 class="fs-4 m-0">
                                <span pTooltip="Nombre de la empresa" data-placement="top">
                                    Empresa ⇒ {{oferta.Publicacion.Usuario.Pyme.nombrePyme | uppercase}}
                                </span>
                            </h3>
                        </div>

                        <div class="card-body">
                            <p class="messageCard fs-5">{{oferta.mensaje}}</p>
                            <div class="my-2">
                                <h4 class="fs-5">
                                    <strong>
                                        Precio : {{oferta.precioOferta | currency : 'CLP'}}
                                    </strong>
                                </h4>
                            </div>

                            <div class="container col-lg-12 my-3">
                                <div class="col-md-12">
                                    <button (click)="eliminarOferta(oferta.id)"
                                        class="btn btn-danger btn-sm float-start">
                                        Eliminar
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-sm float-end">Editar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ngb-accordion #acc="ngbAccordion">
                                <ngb-panel title="Detalles de la publicación ">
                                    <ng-template ngbPanelContent>
                                        <div class="row col-lg-12 mx-3">
                                            <div class="container">
                                                <h6 class="alert alert-success py-1 float-end"
                                                    ngbTooltip="ID de la publicación">
                                                    {{oferta.PublicacionId}}
                                                </h6>
                                            </div>
                                            <h3 class="text-center">
                                                {{oferta.Publicacion.titulo | uppercase}}
                                            </h3>
                                            <p class="descriptionCard">
                                                {{oferta.Publicacion.descripcion}}
                                            </p>

                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Precio total</strong></td>
                                                        <td>{{oferta.Publicacion.precioTotal | currency :
                                                            'CLP'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Cantidad</strong></td>
                                                        <td>{{oferta.Publicacion.cantidadElementos}}
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.precioUnidad">
                                                        <td><strong>Precio por unidad</strong></td>
                                                        <td>{{oferta.Publicacion.precioUnidad | currency :
                                                            'CLP'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strong>Garantía</strong></td>
                                                        <td>
                                                            {{oferta.Publicacion.garantia.toString() |
                                                            i18nSelect:garantiaMapa}}
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.aniosGarantia">
                                                        <td><strong>Años de garantía</strong></td>
                                                        <td>{{oferta.Publicacion.aniosGarantia}}</td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.fechaInicioServicio">
                                                        <td><strong>Fecha inicio del servicio</strong></td>
                                                        <td>
                                                            {{oferta.Publicacion.fechaInicioServicio | date:
                                                            'dd MMMM yyyy'}}
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.fechaFinServicio">
                                                        <td><strong>Fecha finalización del servicio</strong>
                                                        </td>
                                                        <td>{{oferta.Publicacion.fechaFinServicio | date :
                                                            'dd MMMM yyyy'}}
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.horasATrabajar">
                                                        <td><strong>Cantidad de horas a trabajar</strong></td>
                                                        <td>{{oferta.Publicacion.horasATrabajar}}</td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.modelo">
                                                        <td><strong>Modelo</strong></td>
                                                        <td>{{oferta.Publicacion.modelo}}</td>
                                                    </tr>
                                                    <tr *ngIf="oferta.Publicacion.color">
                                                        <td><strong>Color</strong></td>
                                                        <td>{{oferta.Publicacion.color | titlecase}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>