.card-body {
    /* background-color:  #0d6efd; */
    border-radius: 3px;
    /* color: white; */
}


.containerPublicacion {
    max-width: 1000px;
    margin: auto;
}

/* .containerPrecio{
    border: 1px solid black;
    
} */

.descriptionCard{
    text-transform: lowercase;
}

.descriptionCard::first-letter {
    text-transform: uppercase;
}

/* .btn-pagar {
    border-radius: 10px;
} */

.noOfertas{
    letter-spacing:4px;
    font-weight: 800;
}