.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.descriptionCard {
    text-transform: lowercase;
}

.messageCard::first-letter {
    text-transform: uppercase;
}

.icon-image {
    width: 30%;
    height: auto;
    max-width: 150px;
}

.noOfertas {
    letter-spacing: 4px;
    font-weight: 800;
}

.customSelect{
    max-width: 110px;
}