<header class="p-3 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
    
            <a routerLink="/visitor" class="navbar-brand d-flex align-items-center text-dark text-decoration-none">
                <img src="../../../../assets/icons/factory.svg" alt="factory.svg">
                <strong class="smaller-text">Pymes Marketplace</strong>
            </a>
    
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse mt-2" id="navbarNav">
                <div class="text-end">
                    <a routerLink="/visitor/login" class="mx-2">
                        <button type="button" class="btn btn-secondary">Iniciar sesión</button>
                    </a>
                    <a routerLink="/visitor/registro" class="mx-2">
                        <button type="button" class="btn btn-primary">Registrarse</button>
                    </a>
                </div>
            </div>
    
        </div>
    </nav>
    
</header>