<div class="container-fluid">
    <div class="d-flex justify-content-center">

        <div class="container">
            <div class="col-lg-12 pt-4">
                <img class="float-end icon-image" src="../../../assets/icons/detail-publication.svg"
                    alt="detail-publication.svg">
                <h2 class="fs-1 text-center"><strong>Detalle de la Publicación</strong></h2>
            </div>

            <hr>

            <div class="col-12 text-center my-3" *ngIf="!publication; else divPublicacion">
                <div class="spinner-border  text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <ng-template #divPublicacion>
                <div class="col-md-12 mt-3">
                    <div class="row">
                        <p class="text-center float-end alert py-1 mb-0" 
                        [ngClass]="{
                          'alert-success': publication.procesoDePublicacion.toLowerCase() === 'iniciada',
                          'alert-primary': publication.procesoDePublicacion.toLowerCase() === 'finalizada'
                        }">
                       <strong>Publicación {{ publication.procesoDePublicacion | lowercase }}</strong>
                     </p>
                    </div>

                    <div class="container mt-3">
                        <h3 class="text-center">{{publication.titulo | uppercase }}</h3>
                        <p class="descriptionCard">{{publication.descripcion}}</p>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><strong>Precio total</strong></td>
                                    <td>{{publication.precioTotal | currency : 'CLP'}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Cantidad</strong></td>
                                    <td>{{publication.cantidadElementos}}</td>
                                </tr>
                                <tr *ngIf="publication.precioUnidad">
                                    <td><strong>Precio por unidad</strong></td>
                                    <td>{{publication.precioUnidad | currency : 'CLP'}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Garantía</strong></td>
                                    <td>{{publication.garantia.toString() | i18nSelect:garantiaMapa}}</td>
                                </tr>
                                <tr *ngIf="publication.aniosGarantia">
                                    <td><strong>Años de garantía</strong></td>
                                    <td>{{publication.aniosGarantia}}</td>
                                </tr>
                                <tr *ngIf="publication.fechaInicioServicio">
                                    <td><strong>Fecha inicio del servicio</strong></td>
                                    <td>{{publication.fechaInicioServicio | date : 'dd MMMM yyyy'}}</td>
                                </tr>
                                <tr *ngIf="publication.fechaFinServicio">
                                    <td><strong>Fecha finalización del servicio</strong></td>
                                    <td>{{publication.fechaFinServicio | date : 'dd MMMM yyyy'}}</td>
                                </tr>
                                <tr *ngIf="publication.horasATrabajar">
                                    <td><strong>Cantidad de horas a trabajar</strong></td>
                                    <td>{{publication.horasATrabajar}}</td>
                                </tr>
                                <tr *ngIf="publication.modelo">
                                    <td><strong>Modelo</strong></td>
                                    <td>{{publication.modelo}}</td>
                                </tr>
                                <tr *ngIf="publication.color">
                                    <td><strong>Color</strong></td>
                                    <td>{{publication.color | titlecase}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ng-container *ngIf="this.idCurrentUser === publication.UsuarioId">
                        <div class="row my-4">
                            <div class="col-md-6 text-center my-1">
                                <button (click)="deletePublication()" class="btn btn-danger">
                                    Eliminar
                                    <img src="../../../../assets/icons/trash.svg" class="icon-buttons-style"
                                        alt="trash.svg">
                                </button>
                            </div>
    
                            <div class="col-md-6 text-center my-1">
                                <button class="btn btn-primary">
                                    Editar
                                    <img src="../../../../assets/icons/pencil-square.svg" class="icon-buttons-style"
                                        alt="pencil-square.svg">
                                </button>
                            </div>
                        </div>
                    </ng-container>
                   
                </div>
            </ng-template>
        </div>
    </div>
</div>