<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="col-lg-12 pt-4">
                <img class="float-end icon-image" src="../../../assets/icons/detail-publication.svg"
                    alt="detail-publication.svg">
                <h2 class="fs-1 text-center"><strong>Detalle de la Publicación</strong></h2>
            </div>

            <hr>

            <div class="col-12 text-center my-3" *ngIf="!publication; else divPublicacion">
                <div class="spinner-border  text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <ng-template #divPublicacion>
                <div class="col-md-12 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="alert alert-success d-inline-block mb-0 px-2 py-1" role="alert"
                            ngbTooltip="ID de la publicación">
                            {{publication.id}}
                        </h6>
                        <p class="alert py-1 mb-0" [ngClass]="{
                              'alert-primary': publication.procesoDePublicacion.toLowerCase() === 'iniciada',
                              'alert-warning': publication.procesoDePublicacion.toLowerCase() === 'finalizada'
                            }">
                            <strong>Publicación {{ publication.procesoDePublicacion | lowercase }}</strong>
                        </p>
                    </div>


                    <div class="container mt-3">
                        <h3 class="card-title"><a class="card-link">{{publication.titulo | uppercase }}</a></h3>
                        <p class="descriptionCard">{{publication.descripcion}}</p>

                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><strong>Precio total</strong></td>
                                    <td>{{publication.precioTotal | currency : 'CLP'}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Cantidad</strong></td>
                                    <td>{{publication.cantidadElementos}}</td>
                                </tr>
                                <tr *ngIf="publication.precioUnidad">
                                    <td><strong>Precio por unidad</strong></td>
                                    <td>{{publication.precioUnidad | currency : 'CLP'}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Garantía</strong></td>
                                    <td>{{publication.garantia.toString() | i18nSelect:garantiaMapa}}</td>
                                </tr>
                                <tr *ngIf="publication.aniosGarantia">
                                    <td><strong>Años de garantía</strong></td>
                                    <td>{{publication.aniosGarantia}}</td>
                                </tr>
                                <tr *ngIf="publication.fechaInicioServicio">
                                    <td><strong>Fecha inicio del servicio</strong></td>
                                    <td>{{publication.fechaInicioServicio | date : 'dd MMMM yyyy'}}</td>
                                </tr>
                                <tr *ngIf="publication.fechaFinServicio">
                                    <td><strong>Fecha finalización del servicio</strong></td>
                                    <td>{{publication.fechaFinServicio | date : 'dd MMMM yyyy'}}</td>
                                </tr>
                                <tr *ngIf="publication.horasATrabajar">
                                    <td><strong>Cantidad de horas a trabajar</strong></td>
                                    <td>{{publication.horasATrabajar}}</td>
                                </tr>
                                <tr *ngIf="publication.modelo">
                                    <td><strong>Modelo</strong></td>
                                    <td>{{publication.modelo}}</td>
                                </tr>
                                <tr *ngIf="publication.color">
                                    <td><strong>Color</strong></td>
                                    <td>{{publication.color | titlecase}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <ng-container *ngIf="publication.archivoAdjunto">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-4 col-sm-12 text-center">
                                        <h3 class="fs-6"><strong>Archivos adjuntos</strong></h3>
                                        <img class="d-block mx-auto mb-1" width="50"
                                            src="../../../../assets/icons/file-zip.svg" alt="file-zip.svg">
                                        <button class="btn btn-success btn-sm" type="button"
                                            (click)="downloadFile(publication.archivoAdjunto)">Descargar</button>
                                        <a #downloadLink style="display: none;"></a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <ng-container
                        *ngIf="this.idCurrentUser === publication.UsuarioId && publication.procesoDePublicacion.toLowerCase() !== 'finalizada'">
                        <div class="row">
                            <div class="col-6 my-1 d-flex justify-content-start">
                                <button (click)="deletePublication()" class="btn btn-danger">
                                    Eliminar
                                    <img src="../../../../assets/icons/trash.svg" class="icon-buttons-style"
                                        alt="trash.svg">
                                </button>
                            </div>

                            <div class="col-6 my-1 d-flex justify-content-end">
                                <button class="btn btn-primary">
                                    Editar
                                    <img src="../../../../assets/icons/pencil-square.svg" class="icon-buttons-style"
                                        alt="pencil-square.svg">
                                </button>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container
                        *ngIf="this.idCurrentUser !== publication.UsuarioId && publication.procesoDePublicacion.toLowerCase() !== 'finalizada'">
                        <div class="row">
                            <div class="col-12 my-1 d-flex justify-content-end">
                                <button type="button" class="btn btn-primary float-end"
                                    (click)="openOffer(publication)">
                                    Ofertar
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </div>
    </div>
</div>