<header class="p-3 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <!-- Contenido a la izquierda -->
                <div class="d-flex align-items-center">
                    <div class="mx-3">
                        <app-sidebar-user></app-sidebar-user>
                    </div>
                    <a routerLink="/user" class="navbar-brand text-dark text-decoration-none hide-on-small-screen">
                        <img class="mx-2" src="../../../../assets/icons/factory.svg" alt="factory.svg">
                        <strong class="smaller-text">Pymes Marketplace</strong>
                    </a>
                </div>

                <!-- Contenido a la derecha -->
                <div class="dropdown">
                    <a class="d-inline link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../../assets/icons/people-circle.svg" alt="Foto usuario" width="32" height="32"
                            class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item">Términos y condiciones</a></li>
                        <li><a class="dropdown-item">¿Quiénes somos?</a></li>
                        <li><a class="dropdown-item">Contáctanos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a routerLink="/user/my-profile" class="dropdown-item">Mi Perfil</a></li>
                        <li><a class="dropdown-item" (click)="logOut()">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>