<div class="row">
  <button type="button" class="btn btn-primary d-flex align-items-center justify-content-center px-3 py-2"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <img src="../../../../assets/icons/bi-list.svg" alt="bi-list.svg" width="16" height="16">
  </button>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn btn-primary d-flex align-items-center justify-content-center px-3 py-2"
        data-bs-dismiss="offcanvas" aria-label="Close">
        <img src="../../../../assets/icons/bi-list.svg" alt="bi-list.svg" width="16" height="16">
      </button>
    </div>

    <div class="offcanvas-body">
      <div class="text-center">
        <h1><strong>Menú Administrador</strong></h1>
      </div>

      <hr class="m-0">
      <img class="d-block mx-auto my-2" src="../../../../assets/icons/gear.svg" alt="" width="96" height="76">
      <h4 class="text-left">
        <button class="btn btn-primary btn-sm">
          {{nameUser}}
        </button>
      </h4>

      <hr>

      <p-panelMenu [model]="itemsPanelMenu"></p-panelMenu>
    </div>
  </div>
</div>