.container-progress-bar {
    background-color: white;
    border-radius: 5px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-file-upload input[type="file"] {
    display: none;
}
