<div class="container-fluid">
    <div class="d-flex justify-content-center">

        <div class="container">
            <div class="col-md-12 g-5 pt-4 text-center mb-5">
                <img class="float-end mx-auto mb-3" src="../../../../assets/icons/cart-check.svg" alt="cart-check.svg"
                    width="55">
                <h2 class="fs-1 mb-1"><strong>Compras</strong></h2>
            </div>

            <!-- Buscador -->
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <form [formGroup]="filterForm" class="input-group mb-3">
                        <select class="form-select customSelect text-center" id="searchOptionSelect"
                            formControlName="searchOption">
                            <option [value]="'empresa'">Empresa</option>
                            <option [value]="'fecha'">Fecha</option>
                        </select>

                        <input type="text" class="form-control" formControlName="searchTerm"
                            aria-label="Término de búsqueda" />
                        <button style="border-top-right-radius: .375rem; border-bottom-right-radius: .375rem;"
                            class="input-group-text btn btn-primary" id="basic-addon2"
                            [disabled]="isEmptyPurchases && !isLoading && !noSearchMatch" (click)="sendForm()">
                            Buscar
                        </button>

                        <div class="container">
                            <div *ngIf="filterForm.get('searchTerm')?.touched && filterForm.get('searchTerm')?.hasError('required')"
                                class="text-danger">Este campo es requerido.</div>
                            <div *ngIf="filterForm.get('searchTerm')?.touched && filterForm.get('searchTerm')?.hasError('invalidDate')"
                                class="text-danger">La fecha debe ser tipo DD-MM-YYYY.</div>
                        </div>
                    </form>

                    <div class="row my-1">
                        <div class="col-lg-12">
                            <button ngbTooltip="Limpiar búsqueda" (click)="clearFilter()"
                                class="btn btn-sm btn-primary float-end">
                                <img src="../../../../assets/icons/magic.svg" alt="magic.svg">
                            </button>
                        </div>
                    </div>

                    <!-- Debug -->
                    <!-- <div class="container">
                        <pre><b>filterForm.value: </b>{{filterForm.value | json}}</pre>
                        <pre><b>filterForm.errors: </b>{{filterForm.errors | json}}</pre>
                    </div> -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="container">
                    <div class="col-md-12 mt-5 text-center" *ngIf="isLoading">
                        <div class="spinner-border text-primary text-center my-3" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <!-- Mostrar esta sección si no hay coincidencias en la búsqueda -->
                    <ng-container *ngIf="noSearchMatch && !isLoading">
                        <div class="col-md-12 text-center">
                            <div class="container mt-5">
                                <img src="../../../../assets/icons/empty.svg" alt="empty-users.svg" class="icon-image">
                                <h3 class="my-3">No existen coincidencias de búsqueda. </h3>

                                <div class="col-lg-12">
                                    <button ngbTooltip="Ir atrás" (click)="clearFilter()"
                                        class="btn btn-sm btn-primary text-center">
                                        <img src="../../../../assets/icons/backspace.svg" alt="backspace.svg"
                                            class="icon-button-style">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Mostrar esta sección si no hay compras -->
                    <ng-container *ngIf="isEmptyPurchases && !isLoading && !noSearchMatch">
                        <div class="col-md-12 text-center">
                            <div class="container mt-5">
                                <img src="../../../../assets/icons/cart-check.svg" alt="cart-check.svg"
                                    class="icon-image">
                                <h3 class="my-3">No tienes compras aún.</h3>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Card Compras -->
                    <ng-container *ngIf="!isEmptyPurchases && !isLoading  && !noSearchMatch">
                        <div class="row container mx-4">
                            <!-- Paginación -->
                            <div *ngIf="totalPages > 1" class="row">
                                <div class="d-flex float-start justify-content-center">
                                    <div class="row">
                                        <ngb-pagination [collectionSize]="total" [pageSize]="pageSize"
                                            (pageChange)="onPageChange($event)" [(page)]="currentPage" [maxSize]="3"
                                            [rotate]="true" [boundaryLinks]="true">
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>

                            <div class="my-1" *ngFor="let item of this.purchases; let i = index">
                                <div class="card">
                                    <div class="card-header pt-2">
                                        <h5 class="float-start card-title fs-4 m-0"><a>{{'Comprobante de compra'}}</a>
                                        </h5>
                                        <h6 class="float-end alert alert-success d-inline-block mb-0 px-2 py-1"
                                            role="alert">
                                            Compra exitosa</h6>
                                    </div>

                                    <div class="card-body">
                                        <table class="tableResume table-hover table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2" class="start-* fs-5 m-0"><strong>Código de
                                                            autorización :</strong>
                                                    </td>
                                                    <td class="text-end">{{item.codAutorizacion}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="start-*"><strong>Fecha de compra</strong>
                                                    </td>

                                                    <td class="text-end">{{item.createdAt | date : 'dd MMMM yyyy' :
                                                        '+0000'}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="start-*"><strong>Estado</strong>
                                                    </td>
                                                    <td class="text-end">AUTORIZADA</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="start-*"><strong>Total pagado</strong>
                                                    </td>
                                                    <td class="text-end">{{item.precio | currency: 'CLP'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <hr class="m-0 my-3">

                                        <p class="fs-5 m-0 fw-bold">Empresa vendedora :</p>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-borderless tableResume">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" class="start-*"><strong>Nombre</strong>
                                                        </td>
                                                        <td class="text-end">{{item.Ofertum.Usuario.Pyme.nombrePyme |
                                                            titlecase}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="start-*"><strong>Representante</strong>
                                                        </td>
                                                        <td class="text-end">{{item.Ofertum.Usuario.nombreUsuario |
                                                            titlecase}}
                                                            {{item.Ofertum.Usuario.apellidos | titlecase}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" class="start-*"><strong>Correo
                                                                electrónico</strong>
                                                        </td>
                                                        <td class="text-end">{{item.Ofertum.Usuario.emailUsuario}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- Detalle de la publicacion -->
                                        <div class="container">
                                            <ngb-accordion #acc="ngbAccordion">
                                                <ngb-panel title="Detalles de la publicación ">
                                                    <ng-template ngbPanelContent>
                                                        <div class="container">
                                                            <div class="col-md-12 g-5 mt-4">
                                                                <div class="container d-grid gap-2 text-center">
                                                                    <button [ngClass]="{
                                                                                'alert-primary' : item.Publicacion.procesoDePublicacion.includes('INICIADA'), 
                                                                                'alert-warning' : item.Publicacion.procesoDePublicacion.includes('EN PROCESO'),
                                                                                'alert-success' : item.Publicacion.procesoDePublicacion.includes('FINALIZADA')
                                                                            }"
                                                                        class="alert alert-success alert-lg text-center"
                                                                        type="button">Publicación
                                                                        {{item.Publicacion.procesoDePublicacion |
                                                                        lowercase}}
                                                                    </button>
                                                                </div>

                                                                <div class="container mt-3">
                                                                    <h3 class="text-center">{{item.Publicacion.titulo |
                                                                        uppercase
                                                                        }}</h3>
                                                                    <p class="descriptionCard">
                                                                        {{item.Publicacion.descripcion}}
                                                                    </p>

                                                                    <table class="table table-hover">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Precio propuesto</td>
                                                                                <td>{{item.Publicacion.precioTotal |
                                                                                    currency :
                                                                                    'CLP'}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Cantidad</td>
                                                                                <td>{{this.item.Publicacion.cantidadElementos}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr *ngIf="item.Publicacion.precioUnidad">
                                                                                <td>Precio por unidad</td>
                                                                                <td>{{item.Publicacion.precioUnidad |
                                                                                    currency :
                                                                                    'CLP'}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Garantía</td>
                                                                                <td>{{item.Publicacion.garantia.toString()
                                                                                    |
                                                                                    i18nSelect:item.Publicacion}}</td>
                                                                            </tr>
                                                                            <tr *ngIf="item.Publicacion.aniosGarantia">
                                                                                <td>Años de garantía</td>
                                                                                <td>{{item.Publicacion.aniosGarantia}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                *ngIf="item.Publicacion.fechaInicioServicio">
                                                                                <td>Fecha inicio del servicio</td>
                                                                                <td>{{item.Publicacion.fechaInicioServicio
                                                                                    |
                                                                                    date: 'dd MMMM yyyy'}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr
                                                                                *ngIf="item.Publicacion.fechaFinServicio">
                                                                                <td>Fecha finalización del servicio
                                                                                </td>
                                                                                <td>{{item.Publicacion.fechaFinServicio
                                                                                    |
                                                                                    date : 'dd MMMM yyyy'}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr *ngIf="item.Publicacion.horasATrabajar">
                                                                                <td>Cantidad de horas a trabajar </td>
                                                                                <td>{{item.Publicacion.horasATrabajar}}
                                                                                </td>
                                                                            </tr>
                                                                            <tr *ngIf="item.Publicacion.modelo">
                                                                                <td>Modelo</td>
                                                                                <td>{{item.Publicacion.modelo}}</td>
                                                                            </tr>
                                                                            <tr *ngIf="item.Publicacion.color">
                                                                                <td>Color</td>
                                                                                <td>{{item.Publicacion.color |
                                                                                    titlecase}}
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </ng-template>
                                                </ngb-panel>
                                            </ngb-accordion>
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="col-lg-12">

                                            <button *ngIf="!item.CalificacionId"
                                                class="btn btn-primary float-end d-flex align-items-center"
                                                type="button" (click)="openQualifySeller(item, i)">
                                                Calificar colaboración
                                                <img src="../../../../assets/icons/star.svg" alt="star.svg"
                                                    class="ms-2 star-icon" style="filter: invert(100%);">
                                            </button>

                                            <div *ngIf="item.CalificacionId" class="py-1 mb-0 alert alert-success float-end"
                                                role="alert">
                                                <span>Calificación enviada ✓</span>
                                            </div>
                                        </div>

                                        <button *ngIf="!item.Reclamo" class="btn btn-danger float-start" type="button"
                                            (click)="openReportProblemModal(item, i)">Reportar problema
                                            <img src="../../../../assets/icons/thumb-down.svg" alt="thumb-down.svg"
                                                class="ms-2 star-icon" style="filter: invert(100%);">
                                        </button>
                                        <div *ngIf="item.Reclamo" class="py-1 my-0 alert alert-warning float-start"
                                            role="alert">
                                            <span>Tu reclamo está en revisión</span>
                                        </div>
                                    </div>
                                </div>

                                <br>
                            </div>

                            <!-- Paginación -->
                            <div *ngIf="totalPages > 1" class="row">
                                <div class="d-flex float-start justify-content-center">
                                    <div class="row">
                                        <ngb-pagination [collectionSize]="total" [pageSize]="pageSize"
                                            (pageChange)="onPageChange($event)" [(page)]="currentPage" [maxSize]="3"
                                            [rotate]="true" [boundaryLinks]="true">
                                        </ngb-pagination>
                                    </div>
                                </div>¡
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</div>