<div class="container-fluid">
    <div class="d-flex justify-content-center">

        <div class="container">
            <div class="col-md-12 g-5 pt-4 text-center mb-5">
                <img class="float-end mx-auto mb-3" src="../../../../assets/icons/cart-check.svg" alt="pen.svg"
                    width="55">
                <h2 class="fs-1 mb-1">Mis Compras</h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12 input-group input-group-sm mb-3 mx-3 ">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-lg" id="buscarOferta">
                            <span class="input-group-text mr-3" id="inputGroup-sizing-lg">Buscar</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 text-center" *ngIf="!this.purchases; else divCards">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">...</span>
                        </div>
                    </div>

                    <ng-template #divCards>
                        <div class="containerPublicacion d-flex justify-content-center mb-5"
                            *ngFor="let item of this.purchases; let i = index">
                            <div class="card cardMain  shadow-sm rounded">
                                <div class="card-header pt-2">
                                    <h5 class="card-title fs-4 m-0"><a>{{'Comprobante de compra' | uppercase}}</a>
                                    </h5>
                                </div>

                                <div class="card-body">
                                    <p class="fs-5 m-0 fw-bold">Detalles de la compra :</p>
                                    <table class="tableResume table-hover table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Código de autorización</strong>
                                                </td>
                                                <td class="text-end">{{item.codAutorizacion}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Fecha de compra</strong>
                                                </td>

                                                <td class="text-end">{{item.createdAt | date : 'dd MMMM yyyy'}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Estado</strong>
                                                </td>
                                                <td class="text-end">AUTORIZADA</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Total pagado</strong>
                                                </td>
                                                <td class="text-end">{{item.precio | currency: 'CLP'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr class="m-0 mb-3">
                                    <!-- Detalle de la publicacion -->
                                    <div class="container">
                                        <ngb-accordion #acc="ngbAccordion">
                                            <ngb-panel title="Detalles de la publicación ">
                                                <ng-template ngbPanelContent>
                                                    <div class="container">
                                                        <div class="col-md-12 g-5 mt-4">
                                                            <div class="container d-grid gap-2 text-center">
                                                                <button [ngClass]="{
                                                                            'alert-primary' : item.Publicacion.procesoDePublicacion.includes('INICIADA'), 
                                                                            'alert-warning' : item.Publicacion.procesoDePublicacion.includes('EN PROCESO'),
                                                                            'alert-success' : item.Publicacion.procesoDePublicacion.includes('FINALIZADA')
                                                                        }"
                                                                    class="alert alert-success alert-lg text-center"
                                                                    type="button">Publicación
                                                                    {{item.Publicacion.procesoDePublicacion |
                                                                    lowercase}}
                                                                </button>
                                                            </div>

                                                            <div class="container mt-3">
                                                                <h3 class="text-center">{{item.Publicacion.titulo |
                                                                    uppercase
                                                                    }}</h3>
                                                                <p class="descriptionCard">
                                                                    {{item.Publicacion.descripcion}}
                                                                </p>

                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Precio propuesto</td>
                                                                            <td>{{item.Publicacion.precioTotal |
                                                                                currency :
                                                                                'CLP'}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Cantidad</td>
                                                                            <td>{{this.item.Publicacion.cantidadElementos}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr *ngIf="item.Publicacion.precioUnidad">
                                                                            <td>Precio por unidad</td>
                                                                            <td>{{item.Publicacion.precioUnidad |
                                                                                currency :
                                                                                'CLP'}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Garantía</td>
                                                                            <td>{{item.Publicacion.garantia.toString() |
                                                                                i18nSelect:item.Publicacion}}</td>
                                                                        </tr>
                                                                        <tr *ngIf="item.Publicacion.aniosGarantia">
                                                                            <td>Años de garantía</td>
                                                                            <td>{{item.Publicacion.aniosGarantia}}</td>
                                                                        </tr>
                                                                        <tr
                                                                            *ngIf="item.Publicacion.fechaInicioServicio">
                                                                            <td>Fecha inicio del servicio</td>
                                                                            <td>{{item.Publicacion.fechaInicioServicio |
                                                                                date: 'dd MMMM yyyy'}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr *ngIf="item.Publicacion.fechaFinServicio">
                                                                            <td>Fecha finalización del servicio </td>
                                                                            <td>{{item.Publicacion.fechaFinServicio |
                                                                                date : 'dd MMMM yyyy'}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr *ngIf="item.Publicacion.horasATrabajar">
                                                                            <td>Cantidad de horas a trabajar </td>
                                                                            <td>{{item.Publicacion.horasATrabajar}}</td>
                                                                        </tr>
                                                                        <tr *ngIf="item.Publicacion.modelo">
                                                                            <td>Modelo</td>
                                                                            <td>{{item.Publicacion.modelo}}</td>
                                                                        </tr>
                                                                        <tr *ngIf="item.Publicacion.color">
                                                                            <td>Color</td>
                                                                            <td>{{item.Publicacion.color | titlecase}}
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </ng-template>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </div>

                                    <hr class="m-0 my-3">

                                    <p class="fs-5 m-0 fw-bold">Detalles de la empresa vendedora :</p>
                                    <table class="tableResume table-hover table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Empresa</strong>
                                                </td>
                                                <td class="text-end">{{item.Ofertum.Usuario.Pyme.nombrePyme |
                                                    titlecase}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Representante</strong>
                                                </td>
                                                <td class="text-end">{{item.Ofertum.Usuario.nombreUsuario | titlecase}}
                                                    {{item.Ofertum.Usuario.apellidos | titlecase}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="start-*"><strong>Correo electrónico</strong>
                                                </td>
                                                <td class="text-end">{{item.Ofertum.Usuario.emailUsuario}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="col-lg-12">

                                        <button *ngIf="!item.CalificacionId" class="btn btn-primary float-end"
                                            type="button" (click)="openQualifySeller(item, i)">Calificar
                                            colaboración
                                        </button>

                                        <div *ngIf="item.CalificacionId" class="py-1 alert alert-success float-end"
                                            role="alert">
                                            <span>Calificación enviada ✓</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <button *ngIf="!item.Reclamo" class="btn btn-danger float-start" type="button"
                                        (click)="openReportProblemModal(item, i)">Reportar problema
                                    </button>
                                    <div *ngIf="item.Reclamo" class="py-1 my-0 alert alert-warning float-start" role="alert">
                                        <span>Tu reclamo esta siendo revisado.</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>

</div>