.dateHeader {
    display: inline;
}

.stateHeader {
    display: inline;
}

.tableResume tbody tr td {
    border-bottom: 1px solid #c8c9ca;
}

/* .cardMain {
    min-width: 490px;
    margin: auto auto;
} */
/* width: auto; */

/* .btnMoreInformation {
    position: relative;
    left: 70%;

} */


/* .card { overflow: hidden } */

.my-custom-class {
    background: aliceblue;
    font-size: 125%;
}

.my-custom-class .arrow::after {
    border-top-color: aliceblue;
}



.icon-image {
    width: 30%;
    /* Ajusta el tamaño de la imagen en relación con el contenedor */
    height: auto;
    max-width: 150px;
    /* Establece un ancho máximo para la imagen */
}

.empty-publications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Ajusta el margen superior según tus necesidades */
}