<div class="container p-0">

  <!-- No hay Publicaciones -->
  <div class="col-lg-12">
    <div class="col-md-12 text-center my-4"
      *ngIf="publicaciones && publicaciones.length === 0 ; else allPublicacionesTemplate">
      <img src="../../../../assets/icons/empty.svg" alt="new-publication.svg" class="icon-image">
      <h3 class="my-3">No existen coincidencias de búsqueda.</h3>
    </div>
  </div>

  <ng-template #allPublicacionesTemplate>

    <!-- Card de las publicaciones -->
    <div class="row" *ngIf="publicaciones && publicaciones.length > 0">
      <div class="col-12">
        <div *ngFor="let item of publicaciones; let i = index">

          <div class="card shadow-sm rounded">
            <div class="card-header">
              <h6 class="alert alert-success d-inline-block mb-0 px-2 py-1" role="alert"
                ngbTooltip="ID de la publicación">
                {{item.id}}</h6>
              <h6 class="btn btn-sm btn-primary d-inline-block float-end mb-0 px-2 py-1"
                ngbTooltip="Ofertas recibidas">
                {{item.cantidadOfertasRecibidas === 0 ? 'Sin ofertas': item.cantidadOfertasRecibidas}}
              </h6>
            </div>

            <div class="card-body">
              <h5 class="card-title"><a class="card-link">{{item.titulo | uppercase}}</a></h5>
              <p class="card-text">{{item.descripcion | uppercase}}</p>

              <table class="tableResume table table-hover table-borderless">
                <tbody>
                  <tr>
                    <td colspan="2" class="start-*"><strong>Monto Disponible</strong></td>
                    <td class="text-end">{{item.precioTotal | currency : 'CLP'}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="start-*"><strong>Empresa</strong></td>
                    <td class="text-end">{{item.Usuario.Pyme.nombrePyme}}</td>
                  </tr>
                  <!-- <tr>
                      <td colspan="2" class="start-*"><strong>Calificación</strong></td>
                      
                      <td class="text-end">sssss</td>
                    </tr> -->
                </tbody>
              </table>
            </div>

            <div class="card-footer containerMoreInformation">

              <button class="btn btn-primary text-center" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapseExample' + i" aria-expanded="false" aria-controls="collapseExample">
                Más información
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
              </button>

              <div class="cardAccordion collapse mt-2" [attr.id]="'collapseExample' + i">
                <div class="card card-body col-12">
                  <h4 class="text-center my-2">DETALLES DE LA PUBLICACIÓN</h4>
                  <table class="tableResume table table-hover table-borderless">
                    <tbody>
                      <tr>
                        <td colspan="2" class="start-*"><strong>Fecha creación</strong></td>
                        <td class="text-end">{{item.createdAt | date : 'dd MMMM yyyy'}}</td>
                      </tr>
                      <tr *ngIf="item.fechaInicioServicio">
                        <td colspan="2" class="start-*"><strong>Fecha de inicio servicio</strong></td>
                        <td class="text-end">{{item.fechaInicioServicio | date : 'dd MMMM yyyy'}}</td>
                      </tr>
                      <tr *ngIf="item.fechaFinServicio">
                        <td colspan="2" class="start-*"><strong>Fecha de término servicio</strong></td>
                        <td class="text-end">{{item.fechaFinServicio | date : 'dd MMMM yyyy'}}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="start-*"><strong>Garantía</strong></td>
                        <td class="text-end">{{item.garantia.toString() | i18nSelect:garantiaMapa}}</td>
                      </tr>
                      <tr *ngIf="item.aniosGarantia">
                        <td colspan="2" class="start-*"><strong>Años de garantía</strong></td>
                        <td class="text-end">{{item.aniosGarantia | number }}</td>
                      </tr>
                      <tr *ngIf="item.cantidadElementos">
                        <td colspan="2" class="start-*"><strong>Cantidad</strong></td>
                        <td class="text-end">{{item.cantidadElementos}}</td>
                      </tr>
                      <tr *ngIf="item.modelo">
                        <td colspan="2" class="start-*"><strong>Modelo</strong></td>
                        <td class="text-end">{{item.modelo}}</td>
                      </tr>
                      <tr *ngIf="item.color">
                        <td colspan="2" class="start-*"><strong>Color</strong></td>
                        <td class="text-end">{{item.color | titlecase}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="container">
                    <div class="row">
                      <div class="container">
                        <button type="button" class="btn btn-secondary float-end" placement="bottom"
                          ngbTooltip="Registrate para hacer una oferta!.">
                          Ofertar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>

        </div>
      </div>
    </div>
  </ng-template>
</div>