<div class="container">
    <div class="row">
        <div class="col-lg-12 pt-4 text-center">
            <img class="float-end mx-auto mb-1" src="../../../assets/icons/search.svg" alt="search.svg" width="50">
            <h2 class="fs-1 mb-4"><strong>Buscar una publicación</strong></h2>
        </div>
    </div>
    <div class="row">
        <!-- <form [formGroup]="filterForm" class="input-group mb-3">
            <div ngbDropdown class="d-inline-block" style="width: 100%;">
                <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                    {{ selectedOption || 'Filtrar ' }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button *ngFor="let option of searchOptions" class="text-center" ngbDropdownItem (click)="selectSearchOption(option)">
                        {{ option }}
                    </button>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="searchTerm" aria-label="Término de búsqueda"
                placeholder="Buscar por {{ selectedOption?.toLowerCase() }}" />
            <span class="input-group-text" id="basic-addon2" (click)="searchPublication()">
                Buscar
            </span>
        </form> -->
        <div class="input-group mb-3">
            <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
            <form [formGroup]="filterForm" class="input-group mb-3">
                <div ngbDropdown class="input-group-text p-0">
                    <button type="button" class="btn btn-primary customFilterBtn" id="dropdownBasic1" ngbDropdownToggle>
                        {{ selectedOption || 'Filtro' }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button *ngFor="let option of searchOptions" ngbDropdownItem (click)="selectSearchOption(option)">
                            {{ option }}
                        </button>
                    </div>
                </div>
                <input type="text" class="form-control" formControlName="searchTerm" aria-label="Término de búsqueda"
                    placeholder=" Buscar por {{ selectedOption?.toLowerCase() }}" />
                <button class="input-group-text" id="basic-addon2" (click)="searchPublication()">
                    Buscar
                </button>
            </form>
        </div>
    </div>

    <!-- Debug -->
    <div class="container">
        <pre><b>filterForm.value: </b>{{filterForm.value | json}}</pre>
        <pre><b>filterForm.errors: </b>{{filterForm.errors | json}}</pre>
    </div>
</div>