<div class="container">
    <div class="row">
        <div class="col-lg-12 pt-4 text-center">
            <img class="float-end mx-auto mb-1" src="../../../assets/icons/search.svg" alt="search.svg" width="50">
            <h2 class="fs-1 mb-4"><strong>Buscar una publicación</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="input-group mb-3">
            <form [formGroup]="filterForm" class="input-group mb-3">
                <select class="form-select customSelect text-center" id="searchOptionSelect"
                    formControlName="searchOption">
                    <option [value]="'titulo'">Título</option>
                    <option [value]="'id'">Id</option>
                </select>

                <input type="text" class="form-control" formControlName="searchTerm" aria-label="Término de búsqueda" />
                <button class="input-group-text" id="basic-addon2" (click)="sendForm()">
                    Buscar
                </button>

                <div class="container">
                    <div *ngIf="filterForm.get('searchTerm')?.touched && filterForm.get('searchTerm')?.hasError('required')"
                        class="text-danger">Este campo es requerido.</div>
                    <div *ngIf="filterForm.get('searchTerm')?.touched && filterForm.get('searchTerm')?.hasError('invalidID')"
                        class="text-danger">El ID no es válido.</div>
                </div>
            </form>

            <!-- Debug -->
            <!-- <div class="container">
                <pre><b>filterForm.value: </b>{{filterForm.value | json}}</pre>
                <pre><b>filterForm.errors: </b>{{filterForm.errors | json}}</pre>
            </div> -->
        </div>
    </div>
</div>