<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex justify-content-end mx-4">
    <span class="text-muted">{{this.currentYear}} - Sebastián V ©.</span>
  </div>

  <ul class="nav col-md-4 justify-content-center list-unstyled d-flex mx-4">
    <li class="ms-3">
      <a href="https://www.linkedin.com/in/sebastian-vidal-ramirez" target="_blank"
        class="p-2 rounded-circle border border-gray d-flex align-items-center justify-content-center">
        <img width="15" height="15" src="../../../../assets/icons/linkedin.svg" alt="linkedin.svg">
      </a>
    </li>
    <li class="ms-3">
      <a href="https://github.com/sebastianvr" target="_blank"
        class="text-muted text-gray p-2 rounded-circle border border-gray d-flex align-items-center justify-content-center">
        <img width="15" height="15" src="../../../../assets/icons/github.svg" alt="github.svg">
      </a>
    </li>
    <li class="ms-3">
      <a href="https://discord.com/users/sebastian_vr_" target="_blank"
        class="text-muted text-gray p-2 rounded-circle border border-gray d-flex align-items-center justify-content-center">
        <img width="15" height="15" src="../../../../assets/icons/discord.svg" alt="discord.svg">
      </a>
    </li>
  </ul>
</footer>
