<div class="modal-header">
    <h4 class="modal-title text-center">Términos y Condiciones</h4>
    <img src="../../../../assets/icons/terms-icon.svg" alt="terms-icon.svg" class="img-fluid">
</div>
<div class="modal-body">
    <div class="container">
        <div class="col-md-12 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui necessitatibus dolorum recusandae, non ex
                laborum earum quod. Amet expedita quia facere quasi repudiandae quis nisi quos quae, saepe illum
                corrupti
                assumenda quidem nobis perspiciatis doloribus! Iure magnam sapiente culpa, distinctio at omnis quos
                blanditiis, perferendis doloremque ad fuga nisi aut!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui necessitatibus dolorum recusandae, non ex
                laborum earum quod. Amet expedita quia facere quasi repudiandae quis nisi quos quae, saepe illum
                corrupti
                assumenda quidem nobis perspiciatis doloribus! Iure magnam sapiente culpa, distinctio at omnis quos
                blanditiis, perferendis doloremque ad fuga nisi aut!
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui necessitatibus dolorum recusandae, non ex
                laborum earum quod. Amet expedita quia facere quasi repudiandae quis nisi quos quae, saepe illum
                corrupti
                assumenda quidem nobis perspiciatis doloribus! Iure magnam sapiente culpa, distinctio at omnis quos
                blanditiis, perferendis doloremque ad fuga nisi aut!
            </p>
            <p>
                <strong>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam blanditiis deserunt magni nemo
                    eaque culpa
                    assumenda esse ipsum praesentium id?
                </strong>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cerrar</button>
</div>