.dateHeader {
    display: inline;
}

.stateHeader {
    display: inline;
}

.tableResume tbody tr td {
    border-bottom: 1px solid #c8c9ca;
}

.cardMain {
    min-width: 1000px;
    margin: auto auto;
}


.p-field{
    width: 1000px;
}
.calendarClass{
    width: 1000px;
}
