<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="container">

      <div class="col-lg-12 g-5 pt-4 text-center mb-5">
        <img class="float-end mb-3" src="../../../../assets/icons/share.svg" alt="share.svg" width="50">
        <h2 class="fs-1 mb-1"><strong>Mapa de colaboraciones</strong></h2>
      </div>

      <div class="row">
        <div class="container">

          <div class="row pb-2">
            <div class="col-lg-12">
              <button ngbTooltip="Refrescar grafo" (click)="refresh()" class="btn btn-sm btn-primary float-start">
                <img src="../../../../assets/icons/magic.svg" alt="magic.svg">
              </button>
            </div>
          </div>

          <div class="col-lg-12 text-center" *ngIf="isLoading">
            <div class="container mt-5">
              <div class="spinner-border text-primary text-center my-3" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12 text-center" *ngIf="isEmptyGraph && !isLoading">
            <div class="container mt-5">
              <img src="../../../../assets/icons/empty-users.svg" alt="empty-users.svg" class="icon-image">
              <h3 class="my-3">No existen usuarios registrados aún.</h3>
              <!-- <div class="col-lg-12">
                <button ngbTooltip="Ver demo" (click)="showDemo()" class="btn btn-sm btn-primary">
                  <img style="filter: invert(100%)" src="../../../../assets/icons/share.svg" alt="share.svg">
                </button>
              </div> -->
            </div>
          </div>

          <div class="row" [hidden]="isLoading" *ngIf="!isEmptyGraph">
            <div class="col-lg-12">
              <div class="card mb-5">
                <div class="card-header">
                  <button class="btn btn-primary ml-2" (click)="zoomOut()">-</button>
                  <button class="btn-zoom-in btn btn-primary mr-2" (click)="zoomIn()">+</button>
                  <button class="btn btn-primary float-end" (click)="centerGraph()">Centrar</button>
                </div>
                <div class="card-body p-0">
                  <div id="divGraph" #graphContainer style="width: 100%; height: 100vh;" class="graph-container">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>