<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="container">

      <div class="col-lg-12 g-5 pt-4 text-center mb-5">
        <img class="float-end mb-3" src="../../../../assets/icons/share.svg" alt="share.svg" width="50">
        <h2 class="fs-1 mb-1"><strong>Mapa de colaboraciones</strong></h2>
      </div>

      <div class="row">
        <div class="container">

          <div class="row pb-2">
            <div class="col-lg-12">
              <button ngbTooltip="Refrescar grafo" (click)="refresh()" class="btn btn-sm btn-primary float-start">
                <img src="../../../../assets/icons/magic.svg" alt="magic.svg">
              </button>
            </div>
          </div>

          <div class="col-lg-12 text-center" *ngIf="isLoading">
            <div class="container mt-5">
              <div class="spinner-border text-primary text-center my-3" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>

          <div class="col-lg-12 text-center" *ngIf="isEmptyGraph && !isLoading">
            <div class="container mt-5">
              <img src="../../../../assets/icons/empty-users.svg" alt="empty-users.svg" class="icon-image">
              <h3 class="my-3">No existen usuarios registrados aún.</h3>
              <!-- <div class="col-lg-12">
                <button ngbTooltip="Ver demo" (click)="showDemo()" class="btn btn-sm btn-primary">
                  <img style="filter: invert(100%)" src="../../../../assets/icons/share.svg" alt="share.svg">
                </button>
              </div> -->
            </div>
          </div>

          <div class="row" [hidden]="isLoading" *ngIf="!isEmptyGraph">
            <div class="col-lg-12 mx-lg-3">
              <div class="card mb-5">
                <div class="card-header d-flex justify-content-between px-0">
                  <app-simulation-modal></app-simulation-modal>
                  <component-modal-help-graph></component-modal-help-graph>
                </div>
                <div class="card-body p-0">
                  <div #divGraph  id="divGraph" style="width: 100%; height: 100vh;"
                    class="graph-container position-relative">
                    <div class="zoom-controls" style="width: 30px;">
                      <button class="btn-zoom-in btn btn-secondary btn-sm shadow-md" (click)="zoomIn()">
                        <img class="icon-button-style" src="../../../../assets/icons/plus-circle.svg"
                          alt="plus-circle.svg">
                      </button>
                      <input id="zoomRange" #zoomRange type="range" class="zoom-slider" min="1" max="30" [(ngModel)]="zoomLevel"
                        (input)="onZoomChange($event)">
                      <button class="btn-zoom-out btn btn-secondary btn-sm shadow-md" (click)="zoomOut()">
                        <img class="icon-button-style" src="../../../../assets/icons/dash-circle.svg"
                          alt="dash-circle.svg">
                      </button>
                    </div>

                    <button class="btn-center btn btn-secondary" (click)="centerGraph()" ngbTooltip="Centrar">
                      <img class="icon-button-style" src="../../../../assets/icons/compass.svg" alt="compass.svg">
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>