<div class="container-fluid">
    <div class="d-flex justify-content-center">

        <div class="container">
            <div class="col-md-12 pt-2">
                <form [formGroup]="publicationForm" (ngSubmit)="sendPublication()">

                    <!-- OPCIONES -->
                    <div class="container">
                        <div class="col-md-12 text-center mb-3">
                            <h3 class="fs-1 text-center d-inline"><b>¿Qué deseas publicar?</b></h3>
                            <a class="descripcionLabel d-block text-muted">(Selecciona una opción)</a>
                        </div>

                        <div class="row justify-content-center mb-3">
                            <div class="col-md-4 text-center my-1">
                                <label class="btn btn-primary fs-4"
                                    [ngClass]="{ 'btn-success': selectedOption === 'Producto' }">
                                    <input class="inputRadio" type="radio" value="Producto"
                                        (click)="selectionToggle('Producto')" formControlName="productoOServicio">
                                    <div class="d-flex flex-column align-items-center">
                                        <img src="../../../../assets/icons/new-product.svg" alt="new-product.svg"
                                            class="icon-buttons-style">
                                        <b>PRODUCTO</b>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-4 text-center my-1">
                                <label class="btn btn-primary fs-4"
                                    [ngClass]="{ 'btn-success': selectedOption === 'Servicio' }">
                                    <input class="inputRadio" type="radio" value="Servicio"
                                        (click)="selectionToggle('Servicio')" formControlName="productoOServicio">
                                    <div class="d-flex flex-column align-items-center">
                                        <img src="../../../../assets/icons/new-service.svg" alt="new-service.svg"
                                            class="icon-buttons-style">
                                        <b>SERVICIO</b>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <!-- Formulario PRODUCTO -->
                    <div class="row" *ngIf="this.publicationForm.get('productoOServicio')?.value == 'Producto'">

                        <div class="col-md-12 mb-2">
                            <img class="iconPublicacion float-end" src="../../../assets/icons/new-product.svg"
                                alt="new-product.svg" width="80">
                            <h3 class="fs-4 d-inline">Publica el <i><b>producto</b></i> que necesitas:</h3>
                        </div>

                        <!-- Titulo -->
                        <div class="col-md-12 mb-2">
                            <label for="titlePublication" class="form-label">Título
                                <a class="descripcionLabel text-muted">
                                    (Escribe el nombre del producto que deseas buscar)
                                </a>
                            </label>
                            <input pInputText type="text" formControlName="titulo" class="form-control"
                                id="titlePublication">
                            <div *ngIf="titleControl?.invalid && (titleControl?.dirty || titleControl?.touched)"
                                class="text-danger">
                                <small *ngIf="titleControl?.errors?.['required']">El titulo es obligatorio.</small>
                                <small *ngIf="titleControl?.errors?.['maxlength']">El titulo no puede exceder los
                                    100 caracteres.</small>
                            </div>
                            <div class="float-end" *ngIf="remainingTitleCharacters >= 0">
                                <small class="text-success">{{ remainingTitleCharacters }} caracteres
                                    restantes</small>
                            </div>
                        </div>

                        <!-- Descripción -->
                        <div class="col-md-12 mb-2">
                            <label for="descriptionPublication" class="form-label">Descripción</label>
                            <textarea pInputTextarea class="form-control" formControlName="descripcion"
                                id="descriptionPublication"></textarea>
                            <div *ngIf="descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)"
                                class="text-danger">
                                <small *ngIf="descriptionControl?.errors?.['required']">La descripción es
                                    requerido.</small>
                                <small *ngIf="descriptionControl?.errors?.['maxlength']">La descripción no puede exceder
                                    los 400 caracteres.</small>
                            </div>
                            <div class="float-end" *ngIf="remainingDescriptionCharacters >= 0">
                                <small class="text-success">{{ remainingDescriptionCharacters }} caracteres
                                    restantes</small>
                            </div>
                        </div>

                        <!-- Color -->
                        <div class="col-md-6 mb-2">
                            <label for="colorInput" class="form-label">Color
                                <a class="descripcionLabel text-muted">(Opcional)</a>
                            </label>
                            <input pInputText type="text" formControlName="color" class="form-control" id="colorInput">
                            <small *ngIf="publicationForm.get('color')?.errors?.['maxlength'] && 
                                (publicationForm.get('color')?.dirty || publicationForm.get('color')?.touched)"
                                class="text-danger">Demasiado largo.</small>
                        </div>

                        <!-- Modelo -->
                        <div class="col-md-6 mb-2">
                            <label for="modeloInput" class="form-label">Modelo
                                <a class="descripcionLabel text-muted">(Opcional)</a>
                            </label>
                            <input pInputText type="text" formControlName="modelo" class="form-control"
                                id="modeloInput">
                            <small *ngIf="publicationForm.get('modelo')?.errors?.['maxlength'] && 
                                (publicationForm.get('modelo')?.dirty || publicationForm.get('modelo')?.touched)"
                                class="text-danger">Demasiado largo.</small>
                        </div>

                        <!-- Garantía -->
                        <div class="col-md-6 mb-2">
                            <label for="">Garantía</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [value]="true" formControlName="garantia"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [value]="false" formControlName="garantia"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    No
                                </label>
                            </div>
                        </div>

                        <!-- Años de garantia -->
                        <div *ngIf="isGuaranteed()" class="col-md-6 mb-2">
                            <label for="aniosGarantia" class="form-label">Años de garantía</label>
                            <input pInputNumber type="number" formControlName="aniosGarantia" class="form-control"
                                id="aniosGarantia">
                            <span *ngIf="invalidField('aniosGarantia')" class="form-text text-danger">
                                Ingresar años de garantía del producto.
                            </span>
                        </div>


                        <!-- Cantidad de productos -->
                        <div class="col-md-6 mb-2">
                            <label for="horizontal" class="form-label d-block">Cantidad de productos</label>
                            <p-inputNumber (onBlur)="calculateTotalPrice()" formControlName="cantidad"
                                [showButtons]="true" buttonLayout="horizontal" [min]="1" name="horizontal"
                                inputId="horizontal" locale="es-CH" incrementButtonIcon="pi pi-plus"
                                decrementButtonIcon="pi pi-minus" target="undefined">
                            </p-inputNumber>
                        </div>

                        <!-- Precio por unidad -->
                        <div class="col-md-6 mb-2">
                            <label for="precioUnidad" class="form-label d-block">Precio por unidad</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">$</span>
                                <p-inputNumber (onBlur)="calculateTotalPrice()" inputId="precioUnidad"
                                    formControlName="precioPorUnidad" mode="decimal" locale="es-CH"
                                    name="precioPorUnidad">
                                </p-inputNumber>
                            </div>
                        </div>

                        <!-- Precio total a pagar -->
                        <div class="col-md-12 mb-2">
                            <label for="maximumPrice" class="form-label d-block">Precio total a pagar</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">$</span>
                                <p-inputNumber inputId="maximumPrice" name="maximumPrice" formControlName="totalPrecio"
                                    mode="decimal" locale="es-CH" currency="CLP" name="maximumPrice">
                                </p-inputNumber>
                            </div>
                            <span *ngIf="invalidField('totalPrecio')" class="form-text text-danger">
                                El precio total es obligatorio.
                            </span>
                        </div>

                        <!-- Subir archivos -->
                        <div class="my-3 col-md-12">
                            <label for="files[]" class="mb-2 fw-bold">Adjuntar archivos (máximo 8 archivos, máximo 15
                                MB)</label>
                            <p-fileUpload mode="advanced" name="files[]" [showCancelButton]="false"
                                [showUploadButton]="false" (onSelect)="onUpload($event)" [multiple]="true"
                                accept=".jpg,.jpeg,.png,.pdf,.zip" [maxFileSize]="15000000" [fileLimit]="8">
                            </p-fileUpload>
                        </div>

                        <!-- Boton para enviar -->
                        <div class="row">
                            <div class="container mb-5">
                                <button type="button" class="btn btn-primary float-end"
                                    [disabled]="isOpLoading || publicationForm.invalid" (click)="sendPublication()">
                                    <ng-container *ngIf="!isOpLoading">Publicar</ng-container>
                                    <ng-container *ngIf="isOpLoading">
                                        Publicando...
                                        <div class="spinner-border spinner-border-sm text-light" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </ng-container>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Formulario SERVICIO -->
                    <div class="row" *ngIf="this.publicationForm.get('productoOServicio')?.value == 'Servicio'">
                        <div class="col-md-12 mb-2">
                            <img class="iconPublicacion float-end" src="../../../../assets/icons/new-service.svg"
                                alt="new-service.svg" width="80">
                            <h3 class="fs-4 d-inline">Publica el <i><b>servicio</b></i> que necesitas:</h3>
                        </div>

                        <!-- Titulo -->
                        <div class="col-md-12 mb-2">
                            <label for="titlePublication" class="form-label">Título
                                <a class="descripcionLabel text-muted">(Escribe el servicio que deseas buscar)</a>
                            </label>
                            <input pInputText type="text" formControlName="titulo" class="form-control"
                                id="titlePublication">
                            <div *ngIf="titleControl?.invalid && (titleControl?.dirty || titleControl?.touched)"
                                class="text-danger">
                                <small *ngIf="titleControl?.errors?.['required']">El titulo es obligatorio.</small>
                                <small *ngIf="titleControl?.errors?.['maxlength']">El titulo no puede exceder los
                                    100 caracteres.</small>
                            </div>
                            <div class="float-end" *ngIf="remainingTitleCharacters >= 0">
                                <small class="text-success">{{ remainingTitleCharacters }} caracteres
                                    restantes</small>
                            </div>
                        </div>

                        <!-- Descripcion -->
                        <div class="col-md-12 mb-2">
                            <label for="descriptionPublication" class="form-label">Descripción</label>
                            <textarea pInputTextarea class="form-control" formControlName="descripcion"
                                id="descriptionPublication"></textarea>
                            <div *ngIf="descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)"
                                class="text-danger">
                                <small *ngIf="descriptionControl?.errors?.['required']">La descripción es
                                    requerido.</small>
                                <small *ngIf="descriptionControl?.errors?.['maxlength']">La descripción no puede exceder
                                    los 400 caracteres.</small>
                            </div>
                            <div class="float-end" *ngIf="remainingDescriptionCharacters >= 0">
                                <small class="text-success">{{ remainingDescriptionCharacters }} caracteres
                                    restantes</small>
                            </div>
                        </div>

                        <!-- Garantia -->
                        <div class="col-md-6 mb-2">
                            <label for="">Garantía</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [value]="true" formControlName="garantia"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Si
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [value]="false" formControlName="garantia"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    No
                                </label>
                            </div>
                        </div>

                        <!-- Años de garantia -->
                        <div *ngIf="isGuaranteed()" class="col-md-6 mb-2">
                            <label for="aniosGarantia" class="form-label">Años de garantía</label>
                            <input pInputNumber type="number" formControlName="aniosGarantia" class="form-control"
                                id="aniosGarantia">
                            <span *ngIf="invalidField('aniosGarantia')" class="form-text text-danger">
                                Ingresar años de garantía del servicio.
                            </span>
                        </div>


                        <!-- Precio total -->
                        <div class="col-md-12 mb-2">
                            <label for="maximumPrice" class="form-label d-block">Precio total a pagar</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">$</span>
                                <p-inputNumber inputId="maximumPrice" name="maximumPrice" formControlName="totalPrecio"
                                    mode="decimal" locale="es-CH" currency="CLP" name="maximumPrice"></p-inputNumber>
                            </div>
                            <span *ngIf="invalidField('totalPrecio')" class="form-text text-danger">
                                El precio total es obligatorio.
                            </span>

                        </div>

                        <!-- Fecha inicio -->
                        <div class="col-md-6 mb-2">
                            <label for="dateTermination" class="form-label d-block">Fecha de inicio del servicio</label>
                            <div class="p-inputgroup">
                                <p-calendar class="" [showIcon]="true" icon="pi pi-calendar-plus"
                                    formControlName="fechaInicio" inputId="dateTermination" name="dateTermination"
                                    dateFormat="d 'de' MM yy">
                                </p-calendar>
                            </div>
                            <span *ngIf="invalidField('fechaInicio')" class="form-text text-danger">
                                La fecha de inicio es obligatoria.
                            </span>
                        </div>

                        <!-- Fecha finalizacion -->
                        <div class="col-md-6 mb-2">
                            <label for="dateTermination" class="form-label d-block">Fecha de finalización del
                                servicio</label>
                            <div class="p-inputgroup">
                                <p-calendar class="" [showIcon]="true" icon="pi pi-calendar-times"
                                    formControlName="fechaTermino" inputId="dateTermination" name="dateTermination"
                                    dateFormat="d 'de' MM yy">
                                </p-calendar>
                            </div>
                            <span *ngIf="invalidField('fechaTermino')" class="form-text text-danger">
                                La fecha de finalización es obligatoria.
                            </span>
                        </div>

                        <!-- Horas a trabajar -->
                        <div class="col-md-6 mb-2">
                            <label for="horasATrabajar" class="form-label">Cantidad de horas a trabajar
                                <a class="descripcionLabel text-muted">(Opcional)</a>
                            </label>
                            <input type="time" [value]="" formControlName="horasATrabajar" class="form-control"
                                id="horasATrabajar">
                        </div>

                        <!-- Subir archivos -->
                        <div class="my-3 col-md-12">
                            <label for="files[]" class="mb-2 fw-bold">Adjuntar archivos (máximo 8 archivos, máximo 15
                                MB total)</label>
                            <p-fileUpload mode="advanced" name="files[]" [showCancelButton]="false"
                                [showUploadButton]="false" (onSelect)="onUpload($event)" [multiple]="true"
                                accept=".jpg,.jpeg,.png,.pdf,.zip" [maxFileSize]="15000000" [fileLimit]="8">
                            </p-fileUpload>
                        </div>

                        <!-- BOTON ENVIAR-->
                        <div class="row">
                            <div class="container mb-5">
                                <button type="button" class="btn btn-primary float-end"
                                    [disabled]="isOpLoading || publicationForm.invalid" (click)="sendPublication()">
                                    <ng-container *ngIf="!isOpLoading">Publicar</ng-container>
                                    <ng-container *ngIf="isOpLoading">
                                        Publicando...
                                        <div class="spinner-border spinner-border-sm text-light" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </ng-container>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <p-toast></p-toast>
            </div>

            <!-- Debug Mode -->
            <!-- <div class="container">
                <span>publicationForm.value: </span>
                <pre>{{publicationForm.value | json}}</pre>
                <span>publicationForm.errors: </span>
                <pre>{{publicationForm.errors | json}}</pre>
            </div> -->
        </div>
    </div>
</div>