<div class="container pb-5">

    <div class="row">

        <div class="col-12 text-center">
            <img class="d-block mx-auto mb-3" src="../../../assets/icons/search.svg" alt="" width="72">
        </div>
        <div class="col-12 text-center fs-2 mb-3">Buscar una publicación</div>
    </div>

    <div class="row">
        <div class="col-12 input-group input-group-sm mb-3 mx-3 ">
            <div class="input-group input-group-md">
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg">
                <span class="input-group-text mr-3" id="inputGroup-sizing-lg">Buscar</span>
            </div>
        </div>
    </div>

</div>