<div class="container-fluid">
    <div *ngIf="!esAdmin">
        <!-- Inicio de sesión para clientes -->
        <div class="container card mt-5 cardCustom">
            <div>
                <button (click)="esAdmin = !esAdmin; resetForm()" class="btn btn-primary btn-sm float-end mt-3">
                    {{ esAdmin ? 'Iniciar sesión Pymes' : 'Iniciar sesión Administrador' }}
                </button>
            </div>

            <form [formGroup]="formularioLogin" (ngSubmit)="login()" class="px-4 py-3">
                <div class="container text-center">
                    <img class="mt-4" src="../../../assets/icons/smes-logo.svg" alt="smes-logo" width="106" height="85">

                </div>
                <h1 class="h3 mb-3 pt-2 fw-normal text-center"><strong>Pyme</strong></h1>

                <div class="mb-3">
                    <label for="exampleDropdownFormEmail1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" formControlName="emailUsuario"
                        id="exampleDropdownFormEmail1" placeholder="pyme@correo.com">
                    <span *ngIf="campoInvalido('emailUsuario')" class="form-text text-danger">
                        El correo es inválido.
                    </span>
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" autocomplete="on"
                        formControlName="contrasenia" id="exampleDropdownFormPassword1" placeholder="******">
                    <span *ngIf="campoInvalido('contrasenia')" class="form-text text-danger">
                        La contraseña es obligatoria.
                    </span>
                </div>
                <button role="link" class="btn btn-primary">Acceder</button>
            </form>

        </div>
        <p-toast></p-toast>
        <div class="container card cardCustom my-3 text-center">
            <p class="pt-3"> ¿No tienes cuenta?
                <a class="link-primary" routerLink="/visitor/registro">Regístrate</a>
            </p>
        </div>
    </div>

    <div *ngIf="esAdmin">
        <!-- Inicio de sesión para administradores -->
        <div class="container card mt-5 cardCustom">
            <div>
                <button (click)="esAdmin = !esAdmin; resetForm()" class="btn btn-primary btn-sm float-end mt-3">
                    {{ esAdmin ? 'Iniciar sesión Pymes' : 'Iniciar sesión Administrador' }}
                </button>
            </div>

            <form [formGroup]="formularioLogin" (ngSubmit)="login()" class="px-4 py-3">
                <div class="container text-center">
                    <img class="mt-4" src="../../../assets/icons/admin-logo.svg" alt="admin-logo" width="106" height="85">
                </div>
                <h1 class="h3 mb-3 pt-2 fw-normal text-center"><strong>Administrador</strong></h1>

                <div class="mb-3">
                    <label for="exampleDropdownFormEmail1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" formControlName="emailUsuario"
                        id="exampleDropdownFormEmail1" placeholder="admin@correo.com">
                    <span *ngIf="campoInvalido('emailUsuario')" class="form-text text-danger">
                        El correo es inválido.
                    </span>
                </div>
                <div class="mb-3">
                    <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" autocomplete="on"
                        formControlName="contrasenia" id="exampleDropdownFormPassword1" placeholder="******">
                    <span *ngIf="campoInvalido('contrasenia')" class="form-text text-danger">
                        La contraseña es obligatoria.
                    </span>
                </div>
                <button role="link" class="btn btn-primary">Acceder</button>
            </form>
        </div>
        <p-toast></p-toast>
    </div>
</div>